<h1>Profile Edit</h1>

<div>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if form.errors %}
    <ul class="errors">
      {% for error in errors %}
      <li  {% if error.tags %} class=" {{ error.tags }} " {% endif %}> {{ error }} </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

<a href="{% url 'home' %}">Home</a>
<br>
<a href="{% url 'account_logout' %}">Log Out</a>
<br>
<a href="{% url 'profile_detail' %}">Back</a>
<br>

<div>
  <form
    method="post"
    {% if profile %}
      action="/profile-update"
    {% else %}
      action="/profile-create"
    {% endif %}
  >
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save changes</button>
  </form>
</div>
