<h1>This is my profile</h1>

{% include "navigation.html" %}
{% include "messages-section.html" %} 

{% if profile %}
  <div style="margin-bottom: 20px;">
    <div>
      <b>Phone number:</b>
      {{ profile.phone_number }}
    </div>
    <div>
      <b>Location:</b>
      {{ profile.location }}
    </div>
    <div>
      <b>Address:</b>
      {{ profile.address }}
    </div>
    <div>
      <b>Birth date:</b>
      {{ profile.birth_date }}
    </div>
  </div>
  <a href="{% url 'profile_edit' %}">Edit profile</a>
  <br>
  <a href="{% url 'profile_delete' %}">Delete profile</a>
{% else %}
  <div>
    <h4>
      You don't have any profile.
      <br>
      <a href="{% url 'profile_edit' %}">Create profile</a>
  </h4>
  </div>
{% endif %}

