
<h1>User Settings</h1>

<div>
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul>
  {% endif %}
</div>

<a href="{% url 'home' %}">Home</a>
<br>
<a href="{% url 'account_logout' %}">Log Out</a>
<br>

<div>
  <form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    <button type="submit">Save changes</button>
  </form>
</div>